// fonts

// font-family: 'Playfair Display', serif;
// font-family: 'Open Sans', sans-serif;

@mixin ff($f) {
  @if ($f == serif) {
    font-family: 'Playfair Display', serif;
    font-weight: normal;
  } @else if ($f == sans-serif) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  } @else if ($f == sans-serif-bold) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  } @else {
    font-family: times, serif;
    font-weight: normal;
    color: red !important;
    background-color: yellow !important;
  }
}
