// grid layout

#container {
  // margin-top: $navbar-height;
}

#container, .nav-container {
  // outline: 1px solid green;

  @include layout($susy-small, true);
  @include container;
  // @include show-grid(overlay);


  @include breakpoint(bp(small)) {
    @include layout($susy-huge, true);
    @include container;
    // @include show-grid(overlay);
  }
  // @include clearfix;
  @extend .clearfix;
}

header, .full-width, footer {
  @include span(12 of 12);
  // width:100%;
}

.left-column {
  @include span(6 of 12);
  p { margin: 0; }
}

.right-column {
  @include span(last 6 of 12);
  p { margin: 0; }
}


section.main {
  // padding-top: 2em;
  // padding-bottom: 2em;
  padding: 2em;
  clear:both;
  background-color: c(main-bg);
  @extend .clearfix;
  @include span(12 of 12);
}

.main {
  @include ff(sans-serif);
  line-height: 1.4;
  font-size: 1.2em;
  @extend .clearfix;

  &--title {
    font-weight: normal;
    letter-spacing: -1px;
    font-size: 1.9em;
    text-align: center;
    color: c(main);
    line-height: 1;
  }

  &--col-3 {
    @include span(4 of 12);
    text-align: center;
  }

  &--contact {
    clear:both;
    padding: 1.5em 0;
  }

  &--about-me {
    // clear:both;
  }

  &--about-me--photo {
    @include span(2 of 12);
    padding-right: 1em;
    padding-top: .4em;
    img {
      max-width: 100%;
      border-radius: 50%;
      // filter: grayscale(1);
      // &:hover { filter: none; }
    }

  }

  &--about-me--text {
    @include span(last 10 of 12);
    p { margin-top: 0;}
  }

  &--locations {
    // clear: both;
    // @include container;
    padding: 1em 0;
  }

}
